.border {
    border: 1px solid black;
    width: 80px;
  }

body {
    background-color: rgba(124, 116, 116, 0.466);
}

.also {
    font-size: 120%;
    text-align: center;

}

.rendszam {
    text-align: left;
}

.jel {
    font-size: 200%;
    text-align: center;
}
